/* - Family: [Manrope](https://fonts.google.com/specimen/Manrope)
- Weights: 500, 700
- Font size: 13px

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --grayish-Blue: hsl(212, 23%, 69%);
  --light-Grayish-Blue: hsl(210, 46%, 95%);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: "Manrope", sans-serif;
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-Grayish-Blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
}

.drawer-image {
  border-radius: 1rem 0 0 1rem;
  z-index: 0;
  width: 100%;
  margin-right: -10em;
}

.card-content {
  background-color: white;
  display: flex;
  gap: 3rem;
  z-index: 1;
  flex-direction: column;
  border-radius: 0 1rem 1rem 0;
  padding: 6rem;
  max-width: 80rem;
}

.card-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 145%;
  color: var(--very-Dark-Grayish-Blue);
}

.card-paragraph {
  color: var(--desaturated-Dark-Blue);
  font-size: 2em;
  /* font-weight: 500; */
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-items: center;
}

.author {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  flex-basis: 100%;
}

.author-image {
  width: 6em;
  border-radius: 6rem;
}

.author-description {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: 700;
  font-size: 2rem;
  color: var(--very-Dark-Grayish-Blue);
  letter-spacing: 200%;
}

.post-date {
  font-size: 2rem;
  color: var(--grayish-Blue);
}

.share-icon-container {
  background-color: var(--light-Grayish-Blue);
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6rem;
}

.share-icon-container:hover {
  background-color: var(--very-Dark-Grayish-Blue);
  cursor: pointer;
}

.share-icon {
  width: 2.5rem;
}

.active-state {
  position: absolute;
  right: -24%;
  bottom: 130%;
}

.hidden {
  display: none;
}

.active-state-share-popup {
  background-color: var(--very-Dark-Grayish-Blue);
  padding: 2.5rem 5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 0 1rem 1rem rgba(128, 128, 128, 0.399);
}

.share-text {
  text-transform: uppercase;
  letter-spacing: 1rem;
  color: var(--grayish-Blue);
  font-size: 2rem;
}

.social-media-icons-container {
  display: flex;
  gap: 3rem;
}

.social-media-icons {
  width: 3rem;
}

.pointed-inverted-triangle {
  width: 5rem;
  background-color: var(--very-Dark-Grayish-Blue);
  height: 3rem;
  position: absolute;
  bottom: -25%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  transform: rotate(180deg);
}
